.p {
  font-size: 14px;
}



.small-select .react-select__control {
  height: 30px;
  width: 100px;
}
/*   
.body { padding-top: 40px; 
  font-size: 1rem;
} */
.spinner-custom {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 10px;
}
@media (max-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
  body {
    font-size: 0.9rem;
  }
}

.icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 10px;
}

.modal-backdrop {
  opacity: 0.5;
}
.img {
  margin-right: 10px;
}
.icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 10px;
}

.modal-backdrop {
  opacity: 0.5;
}
.main-heading {
  color: rgb(56, 51, 51);
  font: 100px;
}
.underline {
  height: 04px;
  width: 10rem;
  background-color: #0f2f60;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light {
  background-color: #949090;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.footer a {
  color: #fff;
  text-decoration: none !important;
}
.footer a:hover {
  color: grey;
  text-decoration: none !important;
}

.form {
  background-color: #fff;
  box-shadow: 5px 5px 5px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 800px;
}
.column {
  float: left;
  width: 50%;
}
.card {
  background-color: #fafafa75 !important;
  margin-bottom: 10px;
}
.active {
  background: lightgray;
}
.btn.btn-success.active,
.btn.btn-success:active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  outline: none;
}
